# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules/

# next.js
/.next/
/out/
/.lighthouseci/
/.lighthouse-dist/
/.lighthouse-temp/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
~$*.docx
/.pnpm-store/v11/index.db-shm
/.pnpm-store/v11/index.db-wal

# env files
.env*
**/.dev.vars
**/.dev.vars.*
!**/.dev.vars.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
